/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}


body{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: #14463A;
}

header{
    height: 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 95px;
    color: #fbfbfb;
    background-color:#14463A(255, 123, 0);
    

    
 
}
.coffee{
    height: 80px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url(./Monster-Energy-logo-01.png);
}

.menu{
    display: flex;
    flex-direction:row;
    padding: 0;
    margin: 0; 
    gap: 86px;
    background-color: #14463A;

}


main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: aliceblue;
    background-color: aqua;
}
.conteudo h1{
    font-size: 270px;
    color: aliceblue;
    border-radius: 200px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conteudo p{
    font-size: 40px;
    width:  80%;
}

#botao{
    height: 80px;
    width: 290px;
    background-color: #fbfbfb;
    color:  #14463A;;
    font-size: 55px;
    border-radius: 200px;
    font-family: "Jomhuria", serif;
   
}


.conteudo .social{
    display: flex;
    justify-content: space-between;
    width:  80%;
    
}
.conteudosocial div{
    width: 80px;
    height: 80px;
    border-radius: 60%;
    
}

.destaque{
    height: 80%;
    width: 50%;
    background-position: right ;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/pngwing.com.png)
    
}

.cafegelado{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/png.webp)
}

.frappuccinocaramelo{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/um-copo-de-cafe-gelado-com-molho-de-caramelo-e-graos-de-cafe_745528-51941.avif)
}

.icedtea{
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/Iced\ Black\ Tea.jpeg.webp)

}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

/* FIM DO RESET */