/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: #14463A;
}

header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.logo{
    height: 80px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./Monster-Energy-logo-01.png);
}


.menu ul{
    display: flex;
    gap: 95px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-family: "Roboto Flex", sans-serif;
    
}
main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: aliceblue;
}
.conteudo h1{
    font-size: 96px;
    color: aliceblue;
}
.conteudo p{
    font-size: 40px;
    width:  80%;
}
.conteudo button{
    height: 80px;
    width: 300px;
    background-color: #fbfbfb;
    color:  #14463A;;
    font-size: 60px;
    border-radius: 200px;
    font-family: "Jomhuria", serif;
}


.conteudo .social{
    display: flex;
    justify-content: space-between;
    width:  80%;
}
.conteudosocial div{
    width: 80px;
    height: 80px;
    border-radius: 60%;
    
}

.destaque{
    height: 80%;
    width: 50%;
    background-position: right ;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/pngwing.com.png)
    
}

.cafegelado{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/png.webp)
}

.frappuccinocaramelo{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/um-copo-de-cafe-gelado-com-molho-de-caramelo-e-graos-de-cafe_745528-51941.avif)
}

.icedtea{
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/Iced\ Black\ Tea.jpeg.webp)

}
footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

/* FIM DO RESET */